body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

#header-area{
    background: linear-gradient(rgba(244, 243, 243, 0.014),rgb(0, 0, 4,0.9)),url(./image/Header-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    
}
.header-h1{
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 800px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.1);
   
    
    
  
}
.header-p{
    color: white;
    text-align: center;
    font-size: 18px;
    width: 700px;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
.common-btn{
    padding: 10px 40px;
    background-color: green;
    text-decoration: none;
    font-family:'Mina', sans-serif; 
    color: white;
    border-radius: 10px;
    font-size: 18px;

    
}
input[type=text]{
    width: 500px;
    border:none;
    border-bottom: 2px solid green;
    background: transparent;
    font-size: 20px;
}

#donate-query-section{
    height: 650px;
     display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: aliceblue;
}
.common-h2{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
.donate-p{
    text-align: center;
   
}
input[type=submit]{
    border:none;
}
.amount-box{
    display: flex;
    
}
.amount-p{
    border: 2px solid green;
    padding: 40px 30px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Mina',sans-serif;
    margin-left: 10px;
    background-color: white;
}
.amount-p:hover{
    background-color: green;
    color: white;
}
.input-p{
    text-align: center;
    
}

#donate-plane-section{
   height: 650px;
   background-color: azure;
   display: flex;
   flex-direction: column;
}
.card-no-one{
    width: 300px;
    height: 270px;
    background-color: aquamarine;
    border-radius: 10px;
    
}
.card-no-two{
    width: 300px;
    height: 270px;
    background-color: tomato;
    border-radius: 10px;
    
}
.card-no-three{
    width: 300px;
    height: 270px;
    background-color: orange;
    border-radius: 10px;
    
}
.card-img{
    padding: 20px;
}
.card-heading{
    padding-left: 20px;
}
.card-p{
    margin-left: 20px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
/* contact section start  */
#contact-section{
    height: 650px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.contact-form{
    border: 2px solid tomato;
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: salmon;
}
.contact-input{
    width: 300px;
    height: 30px;
    background-color:gray;
    border: none;
}
.contact-sub-btn{
    width: 130px;
    height: 32px;
    border: none;
    background-color: green;

}
/* contact section end  */

/* foooter section start  */
footer{
    height: 200px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* work section start  */

#work-section{
    height: 650px;
    background-color: rgb(245, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-img{
    width: 550px;
    height: 300px;
    
}
.dashed-hr{
    width: 250px;
    border: none;
    border-top: 15px dotted green;
    margin-top: 20px;
    
}
.work-card{
   
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px black;
    background-color: aquamarine;
}
.work-p{
    width: 500px;
}
/* work section end  */